<!DOCTYPE html>

<html ng-app="myApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content=""> 

    <title>Starter Template</title> 

    <link rel="stylesheet" href="https://ci-style-guide.lmig.com/assets/libs/css/ci-bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

  </head>

 

  <body>

 

    <nav class="navbar navbar-default navbar-fixed-top">

      <div class="container">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

          </button>

          <a class="navbar-brand" href="https://forge.lmig.com/wiki/pages/viewpage.action?spaceKey=WIT&title=Session+4+-+Coding+Challenge">WiT Coding Challenge</a>

        </div>

        <div id="navbar" class="collapse navbar-collapse">

          <ul class="nav navbar-nav">

            <li class="active"><a href="#">Mad Lib</a></li>

          </ul>

        </div> <!--/.nav-collapse -->

      </div>

    </nav>

 

    <div class="container" ng-controller="MyController">

 

      <div class="starter-template">

        <h1>Women in Technology Mad Libs Challenge!</h1>

        <p class="lead">Use this document as a way to quickly start your project.<br> All you get is this text and a mostly barebones HTML document.</p>

        <div style="width:300px">

        <form id="myForm">

         

        <!--Below is an example of how to make an input box for exclamation1 and adjective1-->

        <!--You will need to now make the input boxes for the rest of the attributes in the Words.java object in the same order as you have been doing previously-->

        <!-- Complete Quiz 3 on the wiki for additional code snippets. -->

         

          <div class="form-group">
            <label for="exclamation1">Exclamation: </label>
            <input type="text" class="form-control" id="exclamation1" ng-model="exclamation1">
          </div>
          <div class="form-group">
            <label for="adjective1">Adjective1: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="adjective1">
          </div>
          <div class="form-group">
            <label for="exclamation1">Noun/Object: </label>
            <input type="text" class="form-control" id="exclamation1" ng-model="nounOrObject">
          </div>
          <div class="form-group">
            <label for="adjective1">Period of Time: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="periodOfTime1">
          </div>
   	      <div class="form-group">
            <label for="exclamation1">Adjective2: </label>
            <input type="text" class="form-control" id="exclamation1" ng-model="adjective2">
          </div>
          <div class="form-group">
            <label for="adjective1">Period Of Time 2: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="periodOfTime2">
          </div>
          <div class="form-group">
            <label for="exclamation1">Person 1: </label>
            <input type="text" class="form-control" id="exclamation1" ng-model="person1">
          </div>
          <div class="form-group">
            <label for="adjective1">Noun 1: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="noun1">
          </div>
          <div class="form-group">
            <label for="exclamation1">Noun 2: </label>
            <input type="text" class="form-control" id="exclamation1" ng-model="noun2">
          </div>
          <div class="form-group">
            <label for="adjective1">Group of People 1: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="groupOfPeople1">
          </div>
          <div class="form-group">
            <label for="exclamation1">Group of People 2: </label>
            <input type="text" class="form-control" id="exclamation1" ng-model="groupOfPeople2">
          </div>
          <div class="form-group">
            <label for="adjective1">Adjective3: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="adjective3">
          </div>
          <div class="form-group">
            <label for="exclamation1">Two People: </label>
            <input type="text" class="form-control" id="exclamation1" ng-model="twoPeople">
          </div>
          <div class="form-group">
            <label for="adjective1">Noun 3: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="noun3">
          </div>
          <div class="form-group">
            <label for="exclamation1">Noun 4: </label>
            <input type="text" class="form-control" id="exclamation1" ng-model="noun4">
          </div>
          <div class="form-group">
            <label for="adjective1">Type of Camp: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="typeOfCamp">
          </div>
          <div class="form-group">
            <label for="exclamation1">Adjective 4: </label>
            <input type="text" class="form-control" id="exclamation1" ng-model="adjective4">
          </div>
          <div class="form-group">
            <label for="adjective1">Adjective 5: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="adjective5">
          </div>
             <div class="form-group">
            <label for="adjective1">Expression of Affection: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="expressionOfAffection">
          </div>
          <div class="form-group">
            <label for="exclamation1">Person 2: </label>
            <input type="text" class="form-control" id="exclamation1" ng-model="person2">
          </div>
          <div class="form-group">
            <label for="adjective1">Noun 5: </label>
            <input type="text" class="form-control" id="adjective1" ng-model="noun5">
          </div>       

          <!--  End your code above this line -->

          <button type="submit" class="btn" ng-click="save()" ng-disabled="myForm.$invalid">Submit</button>

        </form>
        </div>
        <br/><br/>         

        <!-- The "Modify HTML to show MadLib" step will add two lines of code here -->       
		<!-- Add in your Title of the mad lib  "Movie Acceptance Speech" -->
    	<!-- Pass the madlib1 scope into a <p> element, this should be right beneath the Title for the Madlib -->
    	<!--  Use session 3 as an example or Complete Quiz 5 for additional help -->

    	<!-- Add the"Modify HTML to show MadLib" code below this comment -->   
    	
    	<title>Movie Acceptance Speech</title> 
 		<p>$scope.madlib1</p>
    	</div>
    
      </div>
    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="controller.js"></script>

  </body>
</html>
